/* #################### IMPORTS #################### */
@import url ("normalize.css");
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext';

/* #################### GENERAL #################### */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(26, 26, 26);
}

p{
  font-family: 'Titilium Web', sans-serif;
}

a{
  font-family: 'Titilium Web', sans-serif;
  text-decoration: none;
}

/* #################### HEADER #################### */

header{
  width: 100%;
  height: 68px;
  position: fixed;
  background-color: black;
  border-bottom: solid 5px rgb(179, 24, 25);
  z-index: 999;
}

header .shop-header-logo{
  float: left;
  margin-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

header .shop-header-logo  h1{
  font-size: 38px;
  color: rgb(179, 24, 25);
}

header .shop-header-logo h1 span{
  color: rgb(240, 240, 240);
}

header .shop-nav{
  float: left;
}

header .shop-nav ul{
  padding: 0px;
  margin: 0px;
}

header .shop-nav ul li{
height: 100%;
display: block;
float: left;
}

header .shop-nav ul li a{
display: block;
padding: 24px 22px;
height: 100%;
line-height: 20px;
font-size: 1.2rem;
color: rgb(138, 138, 138);
font-weight: bold;
position: relative;
transition: all 400ms ease;
}

header .shop-nav ul li a:hover{
  transition: all 400ms ease;
  background-color: black;
  color: rgb(179, 24, 25);
}


header .shop-nav-list{
  float: right;
}

header .shop-nav-list ul{
  padding: 0px;
  margin: 0px;
}

header .shop-nav-list ul li{
  height: 100%;
  display: block;
  float: right;
}

header .shop-nav-list ul li a{
  display: block;
  padding: 24px 22px;
  height: 100%;
  line-height: 20px;
  font-size: 1.4rem;
  color: rgb(138, 138, 138);
  font-weight: bold;
  position: relative;
  transition: all 400ms ease;
}

header .shop-nav-list ul li a:hover{
  transition: all 400ms ease;
  color: rgb(179, 24, 25);
}

/* #################### MAIN #################### */
main{
  padding-top: 73px;
  height: 100%;
  width: 100%;
}

main .spotlight{
  overflow: hidden;
  height: calc(100vh - 173px);
}

main .spotlight .spotlight-top{
  overflow: hidden;
  height: 50%;
}

main .spotlight .spotlight-bottom{
  overflow: hidden;
  height: 50%;
}

main .spotlight .spotlight-top h2{
  font-size: 48px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  position: absolute;
  left: 58px;
  bottom: 42px;
  width: 100%;
}

main .spotlight .spotlight-top h3{
  font-size: 32px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  position: absolute;
  left: 58px;
  bottom: 8px;
  width: 100%;
}

main .spotlight .spotlight-top .spotlight-top-product-1{
  height: 100%;
  width: 50%;
  float: left;
  cursor: pointer;
  overflow: hidden;
}

main .spotlight .spotlight-top .spotlight-top-product-1 .spotlight-top-product-1-bg{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../img/shop/shirt1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 400ms ease;
  background-size: 100%;
  transition: background-size 200ms ease;
}

main .spotlight .spotlight-top .spotlight-top-product-1 .spotlight-top-product-1-bg:hover{
  background-size: 105%;
}

main .spotlight .spotlight-top .spotlight-top-product-2{
  height: 100%;
  width: 50%;
  float: right;
  cursor: pointer;
  overflow: hidden;
}

main .spotlight .spotlight-top .spotlight-top-product-2 .spotlight-top-product-2-bg{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../img/shop/cup1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 400ms ease;
  background-size: 100%;
  transition: background-size 200ms ease;
}

main .spotlight .spotlight-top .spotlight-top-product-2 .spotlight-top-product-2-bg:hover{
  background-size: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row{
  height: 100%;
  width: 25%;
  overflow: hidden;
  float: left;
}

main .spotlight .spotlight-bottom h2{
  font-size: 38px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

main .spotlight .spotlight-bottom h3{
  font-size: 28px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper{
  width: calc(100% + 1px);
  height: 100%;
  padding: 40px;
  position: relative;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-inner{
  width: 100%;
  height: 100%;
  position: relative;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-inner .spotlight-bottom-row-inner-heading{
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 100%;
  z-index: 1001;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-1{
  background-image: url("../img/shop/mousepad1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-1:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-2{
  background-image: url("../img/shop/notebook1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-2:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-3{
  background-image: url("../img/shop/shirt3.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-3:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-4{
  background-image: url("../img/shop/shirt4.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-4:hover{
  transition: all 200ms ease;
  height: 105%;
}

/* #################### HELPERS #################### */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
