/* #################### IMPORTS #################### */
@import url ("normalize.css");
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext';
@font-face { font-family: 'FontAwesome'; src: local('FontAwesome'); }

/* #################### GENERAL #################### */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  margin: 0;
  background-color: rgb(26, 26, 26);
}

p{
  font-family: 'Titilium Web', sans-serif;
}

a{
  font-family: 'Titilium Web', sans-serif;
  text-decoration: none;
}

input{
  font-family: 'Titilium Web', sans-serif;
}

/* #################### HEADER #################### */

header{
  width: 100%;
  height: 68px;
  position: fixed;
  background-color: rgb(30, 30, 30);
  border-bottom: solid 5px rgb(179, 24, 25);
  z-index: 999;
}

header .shop-header-logo{
  float: left;
  margin-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

header .shop-header-logo  h1{
  height: 68px;
  font-size: 38px;
  color: rgb(179, 24, 25);
}

header .shop-header-logo h1 span{
  color: rgb(240, 240, 240);
}

header .shop-nav{
  float: left;
}

header .shop-nav ul{
  padding: 0px;
  margin: 0px;
}

header .shop-nav ul li{
height: 100%;
display: block;
float: left;
}

header .shop-nav ul li a{
display: block;
padding: 24px 22px;
height: 100%;
line-height: 20px;
font-size: 1.2rem;
color: rgb(138, 138, 138);
font-weight: bold;
position: relative;
transition: all 400ms ease;
}

header .shop-nav ul li a:hover{
  transition: all 400ms ease;
  background-color: rgb(50, 50, 50);
  color: rgb(179, 24, 25);
}

header .shop-nav ul ul{
  display: none;
  position: absolute;
  top: 100%;
  left: 224;
  padding: 0;
}

header .shop-nav ul ul li{
  float: none;
  background-color: rgb(30, 30, 30);
  width: 100%;
}

header .shop-nav ul ul li a span{
  padding-left: 5px;
  opacity: 0;
}

header .shop-nav ul ul li a:hover > span {
  opacity: 1;
}

header .shop-nav ul li:hover > ul{
  display: block;
}


header .shop-nav-list{
  height: 68px;
  float: right;
}

header .shop-nav-list ul{
  padding: 0px;
  margin: 0px;
}

header .shop-nav-list ul ul{
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
}

header .shop-nav-list ul ul li{
  background-color: rgb(30, 30, 30);
  width: 200px;
}

header .shop-nav-list ul ul li a span{
  padding-left: 5px;
  opacity: 0;
}

header .shop-nav-list ul ul li a:hover > span {
  opacity: 1;
}

header .shop-nav-list ul li:hover > ul{
  display: block;
}

header .shop-nav-list ul li{
  height: 100%;
  display: block;
  float: right;
}

header .shop-nav-list ul li .cart-count{
  position: absolute;
  bottom: 45px;
  left: 35px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(179, 24, 25);
  border-radius: 12px;
  padding: 3px 5px 3px 5px;
  font-family: 'Titilium Web', sans-serif;
  transition: all 400ms ease;
}

header .shop-nav-list ul li a{
  display: block;
  padding: 24px 22px;
  height: 100%;
  line-height: 20px;
  font-size: 1.4rem;
  color: rgb(138, 138, 138);
  font-weight: bold;
  position: relative;
  transition: all 400ms ease;
}

header .shop-nav-list ul li a:hover{
  transition: all 400ms ease;
  color: rgb(179, 24, 25);
}


header .shop-nav-list ul li a:hover .cart-count{
  transition: all 400ms ease;
  color: rgb(138, 138, 138);
}

input[id="header-search"] {
  height: 66px;
  font-size: 1.3rem;
  font-family: 'Titilium Web', sans-serif;
  font-weight: bold;
  display: inline-block;
  border: none;
  outline: none;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[id="header-search"]:focus {
  width: calc(100vw - 1355px);
  color: rgb(138, 138, 138);
  z-index: 1;
  cursor: text;
}
input[id="header-search-submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  cursor: pointer;
  transition: opacity .4s ease;
}

/* #################### MAIN #################### */
main{
  padding-top: 73px;
  height: 100%;
  width: 100%;
}

main .spotlight{
  overflow: hidden;
  height: calc(100vh - 225px);
}

main .spotlight .spotlight-top{
  overflow: hidden;
  height: 50%;
}

main .spotlight .spotlight-bottom{
  overflow: hidden;
  height: 50%;
}

main .spotlight .spotlight-top h2{
  font-size: 48px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  position: absolute;
  left: 58px;
  bottom: 42px;
  width: 100%;
}

main .spotlight .spotlight-top h3{
  font-size: 32px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  position: absolute;
  left: 58px;
  bottom: 8px;
  width: 100%;
}

main .spotlight .spotlight-top .spotlight-top-product-1{
  height: 100%;
  width: 50%;
  float: left;
  cursor: pointer;
  overflow: hidden;
}

main .spotlight .spotlight-top .spotlight-top-product-1 .spotlight-top-product-1-bg{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../img/shop/shirt1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 400ms ease;
  background-size: 100%;
  transition: background-size 200ms ease;
}

main .spotlight .spotlight-top .spotlight-top-product-1 .spotlight-top-product-1-bg:hover{
  background-size: 105%;
}

main .spotlight .spotlight-top .spotlight-top-product-2{
  height: 100%;
  width: 50%;
  float: right;
  cursor: pointer;
  overflow: hidden;
}

main .spotlight .spotlight-top .spotlight-top-product-2 .spotlight-top-product-2-bg{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../img/shop/cup1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 400ms ease;
  background-size: 100%;
  transition: background-size 200ms ease;
}

main .spotlight .spotlight-top .spotlight-top-product-2 .spotlight-top-product-2-bg:hover{
  background-size: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row{
  height: 100%;
  width: 25%;
  overflow: hidden;
  float: left;
}

main .spotlight .spotlight-bottom h2{
  font-size: 38px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

main .spotlight .spotlight-bottom h3{
  font-size: 28px;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper{
  width: calc(100% + 1px);
  height: 100%;
  padding: 40px;
  position: relative;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-inner{
  width: 100%;
  height: 100%;
  position: relative;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-inner .spotlight-bottom-row-inner-heading{
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 100%;
  z-index: 201;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-1{
  background-image: url("../img/shop/mousepad1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-1:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-2{
  background-image: url("../img/shop/notebook1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-2:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-3{
  background-image: url("../img/shop/shirt3.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-3:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-4{
  background-image: url("../img/shop/shirt4.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: all 200ms ease;
}

main .spotlight .spotlight-bottom .spotlight-bottom-row .spotlight-bottom-row-wrapper .spotlight-bottom-row-bg-4:hover{
  transition: all 200ms ease;
  height: 105%;
}

main .shop-slider-box{
  margin-top: 5%;
  height: 100%;
  width:100%;
}

main .shop-slider-box h2{
  color: rgb(179, 24, 25);
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

main .shop-slider-box .shop-slider{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
}

main .shop-slider-box .shop-slider .shop-slider-slide{
  background-image: url("../img/shop/bag1.png");
  height: 350px;
  width: 350px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

main .shop-info{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .shop-info .shop-info-shipping{
  border: solid 1px rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33vw - 10%);
  height: 68px;
}

main .shop-info .shop-info-shipping i{
  color: rgb(179, 24, 25);
}

main .shop-info .shop-info-payment{
  border: solid 1px rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33vw - 10%);
  height: 68px;
}

main .shop-info .shop-info-payment i{
  padding-left: 15px;
  color: rgb(240, 240, 240);
}


main .shop-info .shop-info-support{
  border: solid 1px rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33vw - 10%);
  height: 68px;
}

main .shop-info .shop-info-support i{
  color: rgb(179, 24, 25);
}



main .shop-info h2{
  color: rgb(240, 240, 240);
  font-size: 22px;
  padding-left: 15px;
}

/* #################### Footer #################### */

footer{
  margin: auto;
  height: 325px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(56, 54, 54);
}


footer .footer-row{
  display: inline-block;
}

footer .footer-row h3{
  font-size: 36px;
  color: rgb(179, 24, 25);
  padding-left: 40px;
}

footer ul li{
  list-style-type: none;
  padding-top: 10px;
}

footer ul li a{
  font-size: 24px;
  color: rgb(240, 240, 240);
  text-decoration: none;
}

footer ul li a:hover{
  text-decoration: underline;
}

footer .footer-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-nl{
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(179, 24, 25);
}

footer .footer-nl input{
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(56, 54, 54);
  color: rgb(240, 240, 240);
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px
}

footer .footer-nl input:last-child{
  background-color: transparent;
  font-weight: bold;
  border: 2px solid rgb(56, 54, 54);
  background-color: rgb(56, 54, 54);
  display: block;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  transition: all 400ms ease;
}

footer .footer-nl input:last-child:hover{
  transition: all 400ms ease;
  background-color: rgb(75, 73, 73);
  border: 2px solid rgb(75, 73, 73);
}

footer .footer-nl h3{
  font-size: 18px;
  color: rgb(240, 240, 240);
}

footer .footer-social ul{
  padding-left: 10px;
}

footer .footer-social ul li{
  display: inline-block;
  padding-left: 20px;
}

footer .footer-social ul li a{
  transition: all 800ms ease;
}

footer .footer-social ul li:nth-child(1) a:hover{
  transition: all 400ms ease;
  color: #bb0000;
}

footer .footer-social ul li:nth-child(2) a:hover{
  transition: all 400ms ease;
  color: #3b5998;
}

footer .footer-social ul li:nth-child(3) a:hover{
  transition: all 400ms ease;
  color: #4099FF;
}

footer .footer-social ul li:nth-child(4) a:hover{
  transition: all 400ms ease;
  color: #c08d64;;
}


/* #################### HELPERS #################### */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
