/* #################### IMPORTS #################### */
@import url ("normalize.css");
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext';

/* #################### GENERAL #################### */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background-color: rgb(26, 26, 26);
}

p{
  font-family: 'Titilium Web', sans-serif;
}

a{
  font-family: 'Titilium Web', sans-serif;
}

td{
  font-family: 'Titilium Web', sans-serif;
}

main{
  /*background-color: fuchsia;*/
}

.wrapper {
  min-height:100%;
  position: relative;
  width: 1080px;
  /*background-color: green;*/
  margin: auto;
}

body main > section {
  /*background-color: orange;*/
}

/* #################### HEADER #################### */

header{
  width: auto;
}

header h1{

}

header img{
  width: 420px;
  height: 125px;
  margin-left: 72px;
}

header nav {
  float: left;
}
header nav ul {
  margin: 0;
}
header nav ul li {
  display: inline-block;
  margin-left: 35px;
}

header nav ul li a{
  font-size: 24px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: all 300ms;
}

header nav ul li a:hover{
  color: rgb(179, 24, 25);
}

/* #################### INDEX ARTICLE PREVIEW #################### */

main section .article_preview {
  display: flex;
  align-items: center;
  background-color: rgb(26, 26, 26);
  transition: all 300ms;
}

main section .article_preview:hover{
  background-color: rgb(40, 40, 40);
}


main section .article_preview h2{
  font-size: 36px;
  color: rgb(179, 24, 25);
}

main section .article_preview p {
  font-size: 18px;
  color: rgb(240, 240, 240);
  word-spacing: 3px;
}
main section .article_preview a{
  float: right;
  font-size: 18px;
  color: rgb(179, 24, 25);
  text-decoration: none;
  font-weight: bold;
}

/* #################### LOAD MORE BUTTON #################### */

.loadmore button {
  margin-left: 540px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 175px;
  height: 35px;
  background-color: rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-size: 16px;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
}

.loadmore button:hover{
  background-color: transparent;
}

/* #################### SHOP HEADER #################### */

.shop_header h2{
  font-size: 48px;
  margin-left: 74px;
  margin-top: 10px;
}

.shop_header h2 span{
  color: rgb(179, 24, 25);
}

.shop_header h2 a{
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.shop_header nav{
  margin-left: 100px;
}

.shop_header nav ul{
  margin: 0px;
}

.shop_header nav ul li {
  display: inline-block;
  margin-left: 35px;
}

.shop_header nav ul li a{
  font-size: 18px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: all 300ms;
}

.shop_header nav ul li a:hover{
  color: rgb(179, 24, 25);
}

/* #################### BREADCRUMBS #################### */

.breadcrumbs table{
  margin-left: 74px;
}

.breadcrumbs table tr td a{
  font-size: 13px;
  color: rgb(240, 240, 240);
  text-decoration: none;
}
.breadcrumbs table tr td p{
  color: rgb(240, 240, 240);
}

/* #################### SHOP PAYMENT #################### */

.shop_payment{
  float: left;
}

.shop_payment p{
  color: rgb(240, 240, 240);
}

.shop_payment .normalship{
  color: rgb(26, 26, 26);
  position: absolute;
  bottom: 484px;
  right: 700px;
}

.shop_payment .expressship{
  color: rgb(26, 26, 26);
  position: absolute;
  bottom: 384px;
  right: 700px;
}

.shop_payment .getpremium{
  color: rgb(179, 24, 25);
  position: absolute;
  bottom: 304px;
  right: 700px;
  text-decoration: none;
}

.shop_payment .payment_method{
  background-color: rgb(240, 240, 240);
  font-family: 'Titilium Web', sans-serif;
  font-size: 18px;
  width: 420px;
  height: 90px;
  margin-top: 10px;
}

.shop_payment .payment_method span{
  margin-left: 25px;
}

.shop_payment .payment_method input{
  cursor: pointer;
  margin-top: 36px;
  margin-left: 40px;
  width: 16px;
  height: 16px;
  margin-right: 30px;
}

.shop_payment h2{
  font-size: 36px;
  color: rgb(179, 24, 25);
}

.shop_payment_submit{
  margin-top: 32px;
  margin-bottom: 220px;
}

.shop_payment_submit a{
  color: rgb(179, 24, 25);
}

.shop_payment_submit input{
  float: right;
  font-size: 12px;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  width: 140px;
  height: 40px;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
}

.shop_payment_submit input:hover{
  background-color: transparent;
}

/* #################### SHOP ORDER OVERVIEW #################### */

.shop_overview{
  float: right;
}

.shop_overview h2{
  font-size: 36px;
  color: rgb(179, 24, 25);
}

.shop_overview table tbody tr td h3{
  margin-left: 5px;
  color: rgb(240, 240, 240);
}

.shop_overview table tbody tr td p{
  margin-left: 5px;
  width: 300px;
  color: rgb(240, 240, 240);
  font-size: 14px;
}

.shop_overview table tbody tr td span{
  font-family: 'Titilium Web', sans-serif;
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-left: 42px;
}

.shop_overview table{
  border-collapse: collapse;
}

.shop_overview table tbody .shop_code{
  height: 70px;
  margin-top: 10px;
  border-top: solid 1px rgb(240, 240, 240);
}

.shop_overview table tbody .shop_code .shop_code_input{
  width: 378px;
  height: 30px;
  font-size: 16px;
}

.shop_overview table tbody .shop_code .shop_code_apply{
  float: right;
  width: 90px;
  height: 36px;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
}

.shop_overview table tbody .shop_code .shop_code_apply:hover{
  background-color: transparent;
}

.shop_overview table tbody .shop_overview_subtotal{
  border-top: solid 1px rgb(240, 240, 240);
}

.shop_overview table tbody .shop_overview_subtotal td{
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: bold;
}

.shop_overview table tbody .shop_overview_subtotal td:nth-child(2){
  float: right;
}

.shop_overview table tbody .shop_overview_shipping td{
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: bold;
}

.shop_overview table tbody .shop_overview_shipping td:nth-child(2){
  float: right;
}

.shop_overview table tbody .shop_overview_total{
  border-top: solid 1px rgb(240, 240, 240);
}

.shop_overview table tbody .shop_overview_total td{
  color: rgb(240, 240, 240);
  font-size: 28px;
  font-weight: bold;
}

.shop_overview table tbody .shop_overview_total td:nth-child(2){
  float: right;
}

/* #################### SHOP ORDER OVERVIEW #################### */

.shipping_adress h2{
  font-size: 36px;
  margin-top: 10px;
  color: rgb(179, 24, 25);
}

.shipping_adress p{
  margin-top: 10px;
  color: rgb(240, 240, 240);
}

.shipping_adress a{
  color: rgb(179, 24, 25);
}

/* #################### SHOP LANDINGPAGE #################### */

.landingPage h2{
  font-size: 36px;
  color: rgb(179, 24, 25);
  text-align: center;
}

.landingPage figure img{
  margin-left: 40px;

}

.loadmore2 button {
  margin-left: 455px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 175px;
  height: 35px;
  background-color: rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-size: 16px;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
}

.loadmore2 button:hover{
  background-color: transparent;
}




/* #################### FOOTER #################### */

footer{
  background-color: rgb(56, 54, 54);
  height: 324px;
}

footer h3{
  font-size: 28px;
  color: rgb(179, 24, 25);
}

footer .footer_flex{
  display: flex;
  justify-content: space-between;;
  align-items: center;
  height: 324px;
}

footer .footer_flex .footer_space{
  display: block;
  width: 50px;
}

footer .footer_flex .footer_left .footer_middle .footer_right{
  display: block;
}

footer .footer_flex ul{
  margin-top: 0px;
  padding: 5px 0px 0px 0px;
}

footer .footer_flex ul li{
  list-style-type: none;
  padding-top: 5px;
}

footer .footer_flex ul li a {
  font-size: 18px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: color 300ms;
}

footer .footer_flex ul li a:hover {
  font-size: 18px;
  color: rgb(179, 24, 25);
}

footer .newsletter {

}

footer .newsletter tr:first-child {
    background-color: rgb(179, 24, 25);
    width: 144px;
    height: 70px;
}


footer .newsletter tr td .nl_button{
  display: block;
}

footer .newsletter h4{
  font-size: 18px;
  color: rgb(240, 240, 240);
  display: inline-block;
}

footer .newsletter tbody tr td{
  display: block;
  padding-left: 10px;
  padding-right: 0px;
}

footer .newsletter tbody tr .nlemail {
    height: 32px;
    width: 130px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 240, 240);
    background: rgb(56, 54, 54);
    padding-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    transition: all 300ms;
}

footer .newsletter tbody tr .nlemail:hover {
    height: 32px;
    width: 210px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 240, 240);
    background: rgb(56, 54, 54);
    padding-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

footer .newsletter tbody tr .nlemail:focus {
    height: 32px;
    width: 210px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 240, 240);
    background: rgb(56, 54, 54);
    padding-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

footer .newsletter tbody tr .nl_button{
  width: 235px;
  height: 30px;
  margin-left: -10px;
  background-color: rgb(179, 24, 25);
  border: solid 2px rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-weight: bold;
  transition: all 300ms;
  cursor: pointer;
}

footer .newsletter tbody tr .nl_button:hover{
  background-color: transparent;
}

footer .newsletter .social_icons .social_object_1{
  padding-left: 0px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_2{
  padding-left: 23px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_3{
  padding-left: 23px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_4{
  padding-left: 23px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_1 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_1 i:hover{
  color: #bb0000;
}

footer .newsletter .social_icons .social_object_2 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_2 i:hover{
  color: #3b5998;
}

footer .newsletter .social_icons .social_object_3 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_3 i:hover{
  color: #4099FF;
}

footer .newsletter .social_icons .social_object_4 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_4 i:hover{
  color: #c08d64;
}

/* #################### Paralax Effect Test #################### */

header .headerimg{
  background-image: url("img/news/titleimage.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #################### HELPERS #################### */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.activepage {
  color: rgb(179, 24, 25);
}

.fixer1 {
  margin-top: 50px;
}
