/* #################### IMPORTS #################### */
@import url ("normalize.css");
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext';

/* #################### GENERAL #################### */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background-color: rgb(26, 26, 26);
}

p{
  font-family: 'Titilium Web', sans-serif;
}

a{
  font-family: 'Titilium Web', sans-serif;
}

main{
  /*background-color: fuchsia;*/
}

.wrapper {
  width: 1080px;
  /*background-color: green;*/
  margin: auto;
}

body main > section {
  background-color: orange;
}

/* #################### HEADER #################### */

header{
  width: auto;
}

header h1{

}

header img{
  width: 420px;
  height: 125px;
  margin-left: 72px;
}

header nav {
  float: left;
}
header nav ul {
  margin: 0;
}
header nav ul li {
  display: inline-block;
  margin-left: 35px;
}

header nav ul li a{
  font-size: 24px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: all 300ms;
}

header nav ul li a:hover{
  color: rgb(179, 24, 25);
}







/* #################### FOOTER #################### */

footer{
  background-color: rgb(56, 54, 54);
  height: 324px;
}

footer h3{
  font-size: 28px;
  color: rgb(179, 24, 25);
}

footer .footer_flex{
  display: flex;
  justify-content: space-between;;
  align-items: center;
  height: 324px;
}

footer .footer_flex .footer_space{
  display: block;
  width: 50px;
}

footer .footer_flex .footer_left .footer_middle .footer_right{
  display: block;
}

footer .footer_flex ul{
  margin-top: 0px;
  padding: 5px 0px 0px 0px;
}

footer .footer_flex ul li{
  list-style-type: none;
  padding-top: 5px;
}

footer .footer_flex ul li a {
  font-size: 18px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: color 300ms;
}

footer .footer_flex ul li a:hover {
  font-size: 18px;
  color: rgb(179, 24, 25);
}

footer .newsletter {

}

footer .newsletter tr:first-child {
    background-color: rgb(179, 24, 25);
    width: 144px;
    height: 70px;
}


footer .newsletter tr td .nl_button{
  display: block;
}

footer .newsletter h4{
  font-size: 18px;
  color: rgb(240, 240, 240);
  display: inline-block;
}

footer .newsletter tbody tr td{
  display: block;
  padding-left: 10px;
  padding-right: 0px;
}

footer .newsletter tbody tr .nlemail {
    height: 32px;
    width: 130px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 240, 240);
    background: rgb(56, 54, 54);
    padding-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    transition: all 300ms;
}

footer .newsletter tbody tr .nlemail:hover {
    height: 32px;
    width: 210px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 240, 240);
    background: rgb(56, 54, 54);
    padding-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

footer .newsletter tbody tr .nlemail:focus {
    height: 32px;
    width: 210px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 240, 240);
    background: rgb(56, 54, 54);
    padding-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

footer .newsletter tbody tr .nl_button{
  width: 235px;
  height: 30px;
  margin-left: -10px;
  background-color: rgb(179, 24, 25);
  border: none;
  color: rgb(240, 240, 240);
  font-weight: bold;
  transition: all 300ms;
  cursor: pointer;
}

footer .newsletter tbody tr .nl_button:hover{
  width: 235px;
  height: 30px;
  margin-left: -10px;
  background-color: transparent;
  border: solid 2px rgb(179, 24, 25);
  font-weight: bold;
}

footer .newsletter .social_icons .social_object_1{
  padding-left: 0px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_2{
  padding-left: 23px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_3{
  padding-left: 23px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_4{
  padding-left: 23px;
  padding-top: 30px;
  display: inline-block;
}

footer .newsletter .social_icons .social_object_1 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_1 i:hover{
  color: #bb0000;
}

footer .newsletter .social_icons .social_object_2 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_2 i:hover{
  color: #3b5998;
}

footer .newsletter .social_icons .social_object_3 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_3 i:hover{
  color: #4099FF;
}

footer .newsletter .social_icons .social_object_4 i{
  color: rgb(240, 240, 240);
  transition: color 300ms;
}

footer .newsletter .social_icons .social_object_4 i:hover{
  color: #c08d64;
}

/* #################### HELPERS #################### */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
