/* #################### IMPORTS #################### */
@import url ("normalize.css");
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&subset=latin-ext';

/* #################### GENERAL #################### */
html{
  height: 100%;
  min-height: 500px;
  width: 100%;
  min-width: 500px;
}

form {
  margin-bottom: 0em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background-color: rgb(26, 26, 26);
  height: 100%;
  margin: 0px;
}

p{
  font-family: 'Titilium Web', sans-serif;
}

a{
  font-family: 'Titilium Web', sans-serif;
  text-decoration: none;
  color: rgb(240,240,240);
}

.wrapper {
  min-height:100%;
  position: relative;
  width: 75%;
  margin: auto;
}


/* #################### HEADER #################### */

header{
  height: auto;
  min-height: 65px;
}

.home-header{
  height: 100%;
}

header nav img {
  float: left;
  width: auto;
  height: 55px;
  margin-top: 5px;
  margin-left: 5px;
  transition: all 400ms ease;
  display: block;
}

header nav img.showimg{
  display: none;
}

header nav {
  position: fixed;
  float: left;
  width: 100%;
  z-index: 999;
  transition: all 400ms ease;
  top: 0px;
  text-align: left;
  background-color: rgb(26, 26, 26);
  height: 65px;
  border-bottom: solid 1px black;
}

header nav.transform-bg {
  text-align: center;
  height: 85px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

header nav ul {
  padding: 0px;
  margin-top: 0px;
}

header nav ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}


header nav ul li a{
  height: 65px;
  line-height: 65px;
  font-size: 16px;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
  color: rgb(240, 240, 240);
  transition: all 400ms ease;
  display: inline-block;
}

header nav ul li a.transform-menu{
  line-height: 85px;
  height: 85px;
  font-size: 18px;
  text-shadow: 2px 2px 4px #000000;
}

header nav ul li a:hover{
  color: rgb(179, 24, 25);
}

header .headerimg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/news/titleimage1.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .headercontent{
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header h2{
  font-size: 72px;
  color: rgb(179, 24, 25);
  text-shadow: 2px 2px 4px #000000;
}

header p{
  color: rgb(240, 240, 240);
  text-shadow: 2px 2px 4px #000000;
}

header .headercontent .headerbtn1{
  display: inline-block;
  line-height: 45px;
  width: 225px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(240, 240, 240);
  border: solid 1px rgb(240, 240, 240);
  transition: all 300ms;
}

header .headercontent .headerbtn1:hover{
  background-color: rgba(240, 240, 240, 0.05);
}

header .headercontent .headerbtn2{
  display: inline-block;
  line-height: 45px;
  width: 225px;
  margin: 32px 0px 0px 32px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  border: solid 1px rgb(179, 24, 25);
  transition: all 300ms;
}

header .headercontent .headerbtn2:hover{
  background-color: rgb(186, 41, 42);
  border: solid 1px rgb(186, 41, 42);
}

.breadcrumbs>a {
text-decoration: none;
font-weight: bold;
color: rgb(186, 41, 42);
display: inline-block;
margin: 10px;
margin-top: 30px;
margin-bottom: 50px;
}

.breadcrumbs>p {
text-decoration: none;
font-weight: bold;
color: rgb(240, 240, 240);
display: inline-block;
margin: 10px;
margin-top: 30px;
margin-bottom: 50px;
}

.btn {
  margin: 2em auto;
  width: 50%;
  text-align: center;

}


.btn a{
  background-color: rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-size: 1em;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
  padding:1em;
  text-shadow: 2px 2px 4px #000000;

}

.btn:hover{
  background-color: transparent;
}

.btn input{
  background-color: rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-size: 1em;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
  padding: 1em;
  text-shadow: 2px 2px 4px #000000;

}

.btn input:hover{
  background-color: transparent;
}



table {
  width: 100%;

}

tbody {
  background-color: rgb(56, 54, 54);
}

thead {
  background-color: rgb(179, 24, 25);
  border: 0px;
}

th {
  color: rgb(240,240,240);
  text-shadow: 2px 2px 4px #000000;
  padding: 0.5em 0;
  font-size: 1em;

}

td {
  color: rgb(240,240,240);
  font-size: 1em;
  padding: 0.5em 0;
}

.table_text {
  padding-left: 1em;
}

.table_center {
  text-align: center;
}

.dash_site {
  margin-top: 25px;
}


.dashboard{
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.dash_table_center {
  text-align: center;
  width: 50%;
}

.dash_table_text {
  padding-left: 1em;
  width: 50%;
}

.space {
  margin-bottom: 15%;
}
/* #################### SLIDER #################### */

/* IMPORT FROM libaries/flexslider */

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgb(26, 26, 26);
  border-bottom: solid 1px #000;
  color: rgb(240, 240, 240);
  font-size: 32px;
  line-height: 18px;
}


/* #################### NEWS ARTICLE PREVIEW #################### */

.news-articlelistmain{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

.news-articlelist{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 15%;
}

a.article_preview {
  text-decoration: none;
}

.news_site h2, .dash_site h2{
  font-size: 3em;
  color: rgb(179, 24, 25);
  text-align: center;
}

main section .article_preview {
  display: flex;
  align-items: center;
  background-color: rgb(26, 26, 26);
  transition: all 300ms;
}

main section .article_preview:hover{
  background-color: rgb(40, 40, 40);
}


main section .article_preview h2{
  font-size: 36px;
  color: rgb(179, 24, 25);
}

main section .article_preview p {
  font-size: 18px;
  color: rgb(240, 240, 240);
  word-spacing: 3px;
}
.read_more{
  float: right;
  font-size: 18px;
  color: rgb(179, 24, 25);
  text-decoration: none;
  font-weight: bold;
}
.timestamp {
  float: right;
  font-size: 0.7em;
  color: rgb(179, 24, 25);
  text-decoration: none;
  font-weight: bold;
}


/* ####################################################### NEWSPAGE ####################################################### */
.newstitle {
  margin: auto;
  width: 100%;
  height: 50%;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 50px;
}

.newstitle img{
  height:100%;
  width: 100%;
  margin-top: -20%;
}

main section .article {
  margin-bottom: 50px;
}

main section .article h2{
  font-size: 3em;
  color: rgb(179, 24, 25);
  text-align: center;
  margin-bottom: 30px;

}

main section .article p {
  font-size: 1.2em;
  color: rgb(240, 240, 240);
  word-spacing: 3px;
  width: 90%;
  margin: 0 auto;
}

.article_figure {
  margin: auto;
  margin-top: 50px;
  height: 245px;
  display: flex;
  justify-content: space-between;
}

.article_figure img{
  height: 100%;
  flex: auto;
}

.newsbutton {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  width: 150px;
  margin: 3% 50% 5% 46%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  border: solid 1px rgb(179, 24, 25);
  transition: all 300ms;
}

.newsbutton:hover{
  background-color: rgb(186, 41, 42);
  border: solid 1px rgb(186, 41, 42);
}

.loginto {
  margin: 0 auto;
}

/*#################################################### CONTACT US ################################### */

.contact_us_box, .register_box {
display: flex;
}

.contact_us h2{
  font-size: 3em;
  color: rgb(179, 24, 25);
}
.contact_us p{
  font-size: 1.1em;
  color: rgb(240, 240, 240);
  width: 100%;
  margin-bottom: 3%;
}

.register h2{
  font-size: 3em;
  color: rgb(179, 24, 25);
  text-align: center;
}
.register_description p{
  font-size: 1.1em;
  color: rgb(240, 240, 240);
  width: 100%;
  margin-bottom: 3%;
  text-align: center;
}

.contact_us_form, .register_form {
}

.contact_us_left {
  width: 50%;
}

.register_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  flex-flow: wrap;
}

.register_full_form {
  flex: 2 100%;
  height: 45px;
  font-size: 1.2em;
  padding-left: 10px;
  color: rgb(240, 240, 240);
  background-color: rgb(56, 54, 54);
  margin: 0.1em 0;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 200ms ease;
}

.register_half_form{
  flex: 1;
  height: 45px;
  font-size: 1.2em;
  padding-left: 10px;
  color: rgb(240, 240, 240);
  background-color: rgb(56, 54, 54);
  margin: 0.1em 0;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 200ms ease;
}


.contact_us_full_form {
width: 96%;
height: 45px;
font-size: 1.2em;
padding-left: 10px;
margin: 2px 0px 2px 0px;
color: rgb(240, 240, 240);
background-color: rgb(56, 54, 54);
outline: none;
border: 2px solid black;
border-radius: 5px;
transition: all 200ms ease;
}



.contact_us_half_form {
  width: 46.25%;
  height: 45px;
  font-size: 1.2em;
  padding-left: 10px;
  margin: 2px 0px 2px 0px;
  color: rgb(240, 240, 240);
  background-color: rgb(56, 54, 54);
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 200ms ease;
}



.contact_us_postal_fix, .register_postal_fix{
  margin-left: 3%;
}



.contact_us_right, .register_right{
  width: 50%;
}

.contact_us_text {
width: 96%;
height: 60.8%;
font-size: 1.2em;
padding-left: 10px;
margin: 2px 0px 2px 0px;
color: rgb(240, 240, 240);
background-color: rgb(56, 54, 54);
outline: none;
border: 2px solid black;
border-radius: 5px;
transition: all 200ms ease;
resize:none;
font-family: 'Titillium Web', sans-serif;
}

.contact_us_send, .register_send{
  display: inline-block;
  text-align: center;
  line-height: 45px;
  width: 150px;
  margin: 3% 50% 5% 46%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  border: solid 1px rgb(179, 24, 25);
  border-radius: 5px;
  transition: all 200ms;
}

.contact_us_send:hover, .register_send:hover{
  transition: all 200ms ease;
  background-color: transparent;
}

.contact_us_complete, .register_complete, .message_404 {
    text-align: center;
    font-size: 2em;
    color: rgb(179, 24, 25);
}

.message_404 p{
  font-size: 1em;
  color: rgb(240, 240, 240);
  width: 100%;
  margin-bottom: 3%;
}

.message_404 a{
  text-decoration: none;
  color: rgb(179, 24, 25);
}

.contact_us_complete_send, .register_complete_send{
  display: inline-block;
  text-align: center;
  line-height: 45px;
  width: 150px;
  margin: 3% 50% 0% 46%;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  border: solid 1px rgb(179, 24, 25);
  border-radius: 5px;
  transition: all 200ms;
}

.contact_us_complete_send:hover, .register_complete_send:hover{
  transition: all 200ms ease;
  background-color: transparent;
}

.errors {
  background-color: transparent;
  color: rgb(179, 24, 25);
  border: solid 1px rgb(179, 24, 25);
  border-radius: 5px;
  transition: all 200ms;
  width: 35%;
  margin: 0% 32.5% 0% 32.5%;
  text-align: center;
}

.success {
  background-color: transparent;
  color: rgb(34,139,34);
  transition: all 200ms;
  width: 35%;
  margin: 0% 32.5% 0% 32.5%;
  text-align: center;
}

/*############################################################################ LOGIN ################################################### */
.login_site h2{
  font-size: 3em;
  color: rgb(179, 24, 25);
  text-align: center;
}

.login_site p{
  font-size: 0.9em;
  color: rgb(240, 240, 240);
  width: 100%;
  margin-bottom: 3%;
  text-align: center;

}

.login_site a{
  text-decoration: none;
  color: rgb(179, 24, 25);
}

.login_box {
  width: 40%;
  margin: 0 auto;
  padding-top: 1.5em;
  color: rgb(240, 240, 240);
  background-color: rgb(56, 54, 54);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_field {
  margin-top:  0.5em;
  height: 45px;
  font-size: 1.2em;
  color: rgb(240, 240, 240);
  background-color: rgb(56, 54, 54);
  outline: none;
  padding-left: 4%;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 200ms ease;
}
/*############################################################################ COMMENTS ################################################### */

/*.comments {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}*/

.comments_box {
  width:60%;
  margin: 0% 15% 5% 15%;
  background-color: rgb(56, 54, 54);
  padding: 3% 5% 5% 5%;
  border: 2px solid black;
  border-top: none;
  border-radius: 5px;
}

/*.comment_form {
  height: 250px;
}*/

.comment_form form{
  height: 200px;
  margin: 0% 15% 5% 15%;
  background-color: rgb(56, 54, 54);
  padding: 3% 5% 8% 5%;
  border: 2px solid black;
  border-top: none;
  border-radius: 5px;
}

.comments_title{
  width:60%;
  font-size: 2em;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  text-align: center;
  margin: 10% 15% 0% 15%;
  padding: 2% 5% 2% 5%;
  border: 2px solid black;
  border-radius: 5px;
}

.comment {
  padding: 2%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
}


.comment h4{
  font-size: 1em;
  color: rgb(179, 24, 25);
}

.comment p {
  font-size: 1em;
  color: rgb(240, 240, 240);
  word-spacing: 3px;
}

.comment_form_title {
  width:60%;
  font-size: 1.5em;
  color: rgb(240, 240, 240);
  background-color: rgb(179, 24, 25);
  text-align: center;
  margin: 10% 15% 0% 15%;
  padding: 1% 5% 1% 5%;
  border: 2px solid black;
  border-radius: 5px;
}


.comment_text{
width: 98.7%;
height: 100%;
font-size: 1em;
padding-left: 10px;
margin: 2px 0px 2px 0px;
color: rgb(240, 240, 240);
background-color: rgb(26, 26, 26);
outline: none;
border: 2px solid black;
border-radius: 5px;
transition: all 200ms ease;
resize:none;
font-family: 'Titillium Web', sans-serif;
}

.comment_button button {
  margin: 1% 0% 1% 80%;
  width: 20%;
  height: 10%;
  background-color: rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-size: 1em;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
  padding:1%;
}

/* #################### LOAD MORE BUTTON #################### */

.loadmore button {
  margin: 5% 40% 5% 40%;
  width: 20%;
  height: 10%;
  background-color: rgb(179, 24, 25);
  color: rgb(240, 240, 240);
  font-size: 1.5em;
  border: solid 2px rgb(179, 24, 25);
  cursor: pointer;
  transition: all 300ms;
  padding:1%;
}

.loadmore button:hover{
  background-color: transparent;
}


.split {
  margin-top: 1rem;
}

/* #################### Footer #################### */

footer{
  margin: auto;
  height: 325px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(56, 54, 54);
}


footer .footer-row{
  display: inline-block;
}

footer .footer-row h3{
  font-size: 2em;
  color: rgb(179, 24, 25);
  padding-left: 40px;
}

footer ul li{
  list-style-type: none;
  padding-top: 10px;
}

footer ul li a{
  font-size: 1.2em;
  color: rgb(240, 240, 240);
  text-decoration: none;
}

footer ul li a:hover{
  text-decoration: underline;
}

footer .footer-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-nl{
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(179, 24, 25);
}

footer .footer-nl input{
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(56, 54, 54);
  color: rgb(240, 240, 240);
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px
}

footer .footer-nl input:last-child{
  background-color: transparent;
  font-weight: bold;
  border: 2px solid rgb(56, 54, 54);
  background-color: rgb(56, 54, 54);
  display: block;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

footer .footer-nl input:last-child:hover{
  transition: all 400ms ease;
  background-color: rgb(75, 73, 73);
  border: 2px solid rgb(75, 73, 73);
}

footer .footer-nl h3{
  font-size: 18px;
  color: rgb(240, 240, 240);
}

footer .footer-social ul{
  padding-left: 10px;
}

footer .footer-social ul li{
  display: inline-block;
  padding-left: 20px;
}

footer .footer-social ul li:nth-child(1) a:hover{
  transition: all 400ms ease;
  color: #bb0000;
}

footer .footer-social ul li:nth-child(2) a:hover{
  transition: all 400ms ease;
  color: #3b5998;
}

footer .footer-social ul li:nth-child(3) a:hover{
  transition: all 400ms ease;
  color: #4099FF;
}

footer .footer-social ul li:nth-child(4) a:hover{
  transition: all 400ms ease;
  color: #c08d64;;
}
